%include("header")
<div class="w-2/4 min-h-screen border-x border-gray-300">
  <div class="p-4">
    <!-- search form -->
    <form class="relative" onsubmit="return false">
      <i class="fas fa-search absolute top-4 left-4" aria-hidden="true"></i>
      <input class="w-full h-12 px-4 rounded-full placeholder:text-gray-700 bg-gray-100 pl-12 outline-none" type="text"
        placeholder="What are you interested in?">
    </form>
  </div>
  <div class="tweet-form px-4">
    <!-- submit tweet -->
    <form id="tweet-form" class="flex flex-col relative pb-14 border border-blue-400 rounded" onsubmit="return false"
      autocomplete="off">
      <label for="txt-tweet" class="w-full font-thin text-sm text-gray-400 pt-2 pl-4">Tweet with image or text up
        to 100 characters, or both</label>
      <!-- reference validation here for text input only -->
      <input name="tweet_text" id="txt-tweet"
        class="w-full h-12 p-4 text-gray-800 rounded outline-none placeholder:text-gray-800" type="text"
        placeholder="What is on your mind?" data-validate="str" data-max="100">
      <!-- file input hidden, i tag in label -->
      <label>
        <input id="upload" class="absolute bottom-2 left-2 text-sm hidden" type="file" name="image">
        <i class="fa-solid fa-image absolute bottom-2 left-4 text-3xl cursor-pointer text-gray-700"></i>
      </label>

      <!-- calling submit function here -->
      <div>

      </div>
      <button id="tweet-btn" onclick="validate(tweet)" type="submit"
        class="absolute bottom-2 right-2 px-8 py-2 bg-blue-400 text-white rounded-full">
        Tweet
      </button>
    </form>
  </div>
  <section id="fweets" class="mt-4">
    %for tweet in tweets:
    <section id="{{tweet['tweet_id']}}" class="p-4 border-t border-slate-200">
      <div class="flex">
        <!-- <img class="flex-none w-12 h-12 rounded-full" src="" alt="photo"> -->

        <img class="flex-none w-12 h-12 rounded-full"
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="photo">

        <div id="@{{tweet['user_name']}}" class="w-full pl-4">
          <p class="screen-name font-bold">
            @{{tweet["user_name"]}}
          </p>
          <p id="full-name" class="font-thin">
            {{tweet["user_full_name"]}}
          </p>
          <div id="tweet-text" class="pt-2">
            {{tweet["tweet_text"]}}
          </div>
          %if tweet['tweet_image'] !="":
          <img id="tweet-img" class="mt-2 w-full object-cover h-80" src="/img/{{tweet['tweet_image']}}">
          % end
          <div id = "icons" class="flex gap-12 w-full mt-4 text-lg">
            <button onclick="deleteTweet(`{{tweet['tweet_id']}}`)" ><i  class="fa-solid fa-trash mr-auto cursor-pointer"></i> </button>

            <button onclick="showTweetToEdit(`{{tweet['tweet_id']}}`)" >
              <i class="fa-solid fa-pen mr-auto cursor-pointer"></i>
            </button>
            <!-- TODO: like event and trigger -->
          <button><i class="fa-solid fa-heart cursor-pointer  ml-auto"></i></button>

          </div>
        </div>
      </div>
    </section>
    % end

  </section>
</div>