<section id="edit-tweet" class="fixed w-full h-screen  bg-blue-400 bg-opacity-90 z-10 hidden">
  <div class="flex p-4" onclick="closeTweetModal()">
    <p class="ml-auto text-white text-3xl p-4 cursor-pointer">X</p>
  </div>
  <div class="flex justify-center mt-8">
    <!-- submit tweet -->
    <form id="tweet-edit-form" class="flex flex-col w-2/3 border-x rounded bg-white" onsubmit="return false"
      autocomplete="off">
      <!-- reference validation here for text input only -->
      <label for="txt-tweet" class="w-full font-thin text-base text-gray-500
      first-letter:pt-2 pl-4">Start typing to edit text</label>
      <textarea name="tweet_text" id="txt-tweet" cols="30" rows="10 class="w-full h-12" type="text" data-validate="str" data-max="500"
        onfocus="this.value=removeWhiteSpaces(this.value)"></textarea>
      <div class="w-full"><img id="edit-image" src="_" alt="" class="w-full object-cover h-80"> </textarea>
      </div>


      <!-- TODO: delete image -->
      <div class="ml-auto px-2 py-2 flex flex-col">
          <label class = "text-sm text-gray-500">
            <i class="fa fa-ban text-3xl text-gray-400 cursor-pointer"></i>
            <span class = "font-thin text-base text-gray-500 uppercase"> remove image </span> </label>

        <label class = "text-sm text-gray-500">
          <input id="add-img" type="file" name="image" class=" hidden">
          <i class="fa fa-camera text-3xl text-gray-400 cursor-pointer"></i>
          <span class = "font-thin text-base text-gray-500 uppercase"> add new image </span>
      </label>
      </div>

  <!-- calling function here -->
      <div id="edit-tweet" class="ml-auto px-4 py-2">
        <button onclick="editTweet(id)" type="submit"
          class="px-8 py-2 text-gray-600 font-medium bg-gray-300 hover:bg-gray-400 hover:text-white rounded-full uppercase">
          Update
        </button>
      </div>
    </form>
  </div>
</section>