<section id="edit-tweet" class="fixed w-screen h-screen z-10 bg-blue-400 opacity-5 hidden">
<div class="flex p-4" onclick = "closeTweetModal()">
  <p class = "ml-auto text-white text-3xl p-4 cursor-pointer">X</p>
</div>
  <div class = "absolute w-full z-10 pt-4">
    <div class="flex justify-center items-center mt-8 ">
 <!-- submit tweet -->
 <form id="tweet-edit-form" class="flex flex-col justify-center relative pb-14 border bg-white rounded w-2/4 mt-8" onsubmit="return false"
 autocomplete="off">
 <!-- reference validation here for text input only -->
 <input name="tweet_text" id="txt-tweet"
   class="w-full h-12 p-4 text-gray-800 rounded outline-none placeholder:text-gray-800" type="text"
   value = "" data-validate="str" data-max="100">
 <!-- file input, event referenced from icon to invoke on input -->
 <input id="upload" class="absolute bottom-2 left-2 text-sm hidden" type="file" name="image">
 <i class="fa-solid fa-image absolute bottom-2 left-4 text-3xl cursor-pointer text-gray-700"
   onclick="document.getElementById('upload').click()"></i>

 <!-- calling function here -->
 <button id="tweet-btn" onclick="" type="submit"
   class="absolute bottom-2 right-2 px-8 py-2 bg-blue-400 text-white rounded-full">
   Update Tweet
 </button>
</form>
</div>
</div>
</section>

