<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c884ab5724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/app.css">
    <title>Fwitter-mandatory#2</title>
</head>

<body>
    <body class="w-full h-screen" data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="">

        <!--- LOGIN --->
        <section id="login" class="fixed w-screen h-screen z-10 bg-blue-400 hidden">
          <div class="absolute h-full w-full bg-grey-lighter min-h-screen flex flex-col">
            <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
              <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
                <h1 class="mb-8 text-3xl text-center">Login</h1>
                <h3 id="server-error-msg" class="text-xl text-center mb-3"></h3>
                <form id="loggedin" class="form" onsubmit="return false" autocomplete="off">
                  <p class="error-message hidden">Username 2-20 characters</p>
                  <input id="user_name" type="text" class="block border border-grey-light w-full p-3 rounded mb-4" name="user_name" placeholder="Username" data-validate="str" data-min="2" data-max="20" autocomplete="off" >
                  <p class="error-message hidden">Password at least 6 characters</p>
                  <input type="password" class="block border border-grey-light w-full p-3 rounded mb-8" name="user_password" id="user_password" placeholder="Password" data-validate="str" data-min="6" autocomplete="off" >
                  <button onclick="validate(logUser)" type="submit" class="w-full text-center py-3 rounded bg-blue-400 text-white hover:bg-green-dark focus:outline-none my-1">Login</button>
                </form>
                <div class="text-center text-grey-dark text-sm mt-4">
                  <p class="text-sm"> Don't want to login? </p>
                  <a class="cursor-pointer" href="/">
                    <p class="uppercase text-blue-700 hover:underline">Continue to all tweets page</p>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </section>
        <!-- LOGINEND -->
 <!-- LEFT PANEL -->
        <div id="wrapper" class="flex w-full mx-auto xl:w-4/5">
            <div class="w-1/4">
              <div class="fixed h-screen w-1/5 px-1 lg:px-6 flex flex-col py-6">
                <div class="">
                  <div class="">
                    <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1 pl-5"></i>
                  </div>
                  <div class="">
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="fas fa-home fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Home</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Explore</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="far fa-bell fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Notifications</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="far fa-envelope fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Messages</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="far fa-bookmark fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Bookmarks</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="fas fa-clipboard-list fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Lists</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="far fa-user fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">Profile</span>
                      </a>
                    </div>
                    <div class="mt-6">
                      <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                        <i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i>
                        <span class="ml-2 hidden md:inline">More</span>
                      </a>
                    </div>
                  </div>
                  <!-- TODO:if user not logged in cannot tweet -->
                  <!-- <button onclick="toggleTweetModal()" class="mt-8 w-full py-2 text-lg text-white bg-blue1 rounded-full">
                      Tweet
                    </button> -->
                </div>

                <div class="mt-auto">
                  <div class="flex flex-wrap gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer rounded-full h-fit mb-4">
                    <!-- TODO: name from token on login -->
                    <img class="w-12 h-12 rounded-full flex-none" src=" ">
                    <p>NAME FROM TOKEN <br>
                      <span class="font-thin">@user_name</span>
                    </p>
                  </div>

                  <!-- event on btn -->
                  <button id="login-btn" onclick= "showLogInForm()" class="ml-2 py-2 text-lg text-white bg-blue-400 rounded-full w-20 md:w-32 absolute z-50">
                    LogIn
                  </button>
                  <a href="/logout">
                    <button id="logout-btn" onclick="hideLogOutBtn()" class="ml-2 py-2 text-lg text-white bg-blue-400 rounded-full w-20 md:w-32">
                      LogOut
                    </button>
                  </a>
                </div>
              </div>
            </div>
<!-- LEFT PANEL END -->


<!-- CENTER -->
            <div class="w-2/4 min-h-screen border-x border-gray-300">
              <div class="p-4">
                <!-- search form -->
                <form class="relative" onsubmit="return false">
                  <i class="fas fa-search absolute top-4 left-4" aria-hidden="true"></i>
                  <input class="w-full h-12 px-4 rounded-full placeholder:text-gray-700 bg-gray-100 pl-12 outline-none" type="text" placeholder="What are you interested in ?">
                </form>
              </div>
              <div class="px-4">
                <!-- submit tweet -->
                <form id="tweet-from" class="flex flex-col relative pb-14 border border-blue1 rounded" onsubmit="return false" autocomplete="off">
                  <label for="txt-tweet" class="w-full font-thin text-sm text-gray-400 pt-2 pl-4">1 to 100 characters</label>
                  <input name="tweet_text" id="txt-tweet" class="w-full h-12 p-4 text-gray-800 rounded outline-none placeholder:text-gray-800" type="text" placeholder="What is in your mind?" data-validate="str" data-min="1" data-max="100">
                  <!-- file input -->
                  <input id="upload" type="file" name="image">
                  <!-- calling function here -->
                  <button  id = "tweet-btn" onclick="validate(tweet)" type="submit" class="absolute bottom-2 right-2 px-8 py-2 bg-blue-400 text-white rounded-full" data-default="Tweet" data-await="Tweeting...">
                    Tweet
                  </button>
                </form>
              </div>

              <div id="fweets" class="mt-4">
                <div class="p-4 border-t border-slate-200">
                  <div class="flex">
                    <img class="flex-none w-12 h-12 rounded-full" src="/img/6.jpg" alt="photo">
                    <div class="w-full pl-4">
                      <p class="font-bold">
                        @barackobama
                      </p>
                      <p class="font-thin">
                        Barack Obama
                      </p>
                      <div class="pt-2">
                        The Ukrainian people need our help. If you’re looking for a way to make a difference, here are some organizations doing important work.
                      </div>
                      <img class="mt-2 w-full object-cover h-80" src="/img/1.jpg">
                      <div class="flex gap-12 w-full mt-4 text-lg">
                        <i class="fa-solid fa-message ml-auto"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-retweet"></i>
                        <i class="fa-solid fa-share-nodes"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-4 border-t border-slate-200">
                  <div class="flex">
                    <img class="flex-none w-12 h-12 rounded-full" src="/img/3.jpg" alt="photo">
                    <div class="w-full pl-4">
                      <p class="font-bold">
                        @elonmusk
                      </p>
                      <p class="font-thin">
                        Elon Musk
                      </p>
                      <div class="pt-2">
                        Richard Hunt is one of the greatest artists Chicago has ever produced, and I couldn’t be prouder that his “Book Bird” sculpture will live outside of the newest @ChiPubLibbranch at the Obama Presidential Center. I hope it inspires visitors for years to come.
                      </div>
                      <div class="flex gap-12 w-full mt-4 text-lg">
                        <i class="fa-solid fa-message ml-auto"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-retweet"></i>
                        <i class="fa-solid fa-share-nodes"></i>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="p-4 border-t border-slate-200">
                  <div class="flex">
                    <img class="flex-none w-12 h-12 rounded-full" src="/img/2.jpg" alt="photo">
                    <div class="w-full pl-4">
                      <p class="font-bold">
                        @joebiden
                      </p>
                      <p class="font-thin">
                        Joe Biden Biden
                      </p>
                      <div class="pt-2">
                        Last year has been the best year for manufacturing jobs and trucking jobs since 1994.
                      </div>
                      <div class="flex gap-12 w-full mt-4 text-lg">
                        <i class="fa-solid fa-message ml-auto"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-retweet"></i>
                        <i class="fa-solid fa-share-nodes"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="w-1/4 h-screen hidden lg:block">
              <div class="w-1/5 fixed flex flex-col h-screen gap-4 py-4 pl-4">
                <div class="h-1/2 flex-grow bg-gray-300 rounded overflow-hidden">
                  <div class="flex justify-between px-2 py-1 hover:bg-gray-400 cursor-pointer">
                    <div>
                      <p class="font-thin">Music</p>
                      <p class="font-bold">We Won</p>
                      <p class="font-thin">135K tweets</p>
                    </div>
                    <div>...</div>
                  </div>
                  <div class="flex justify-between px-2 py-1 hover:bg-gray-400 cursor-pointer">
                    <div>
                      <p class="font-thin">Pop</p>
                      <p class="font-bold">Blue Ivy</p>
                      <p class="font-thin">40k tweets</p>
                    </div>
                    <div>...</div>
                  </div>
                  <div class="flex justify-between px-2 py-1 hover:bg-gray-400 cursor-pointer">
                    <div>
                      <p class="font-thin">Trending in US</p>
                      <p class="font-bold">Denim Day</p>
                      <p class="font-thin">40k tweets</p>
                    </div>
                    <div>...</div>
                  </div>
                  <div class="flex justify-between px-2 py-1 hover:bg-gray-400 cursor-pointer">
                    <div>
                      <p class="font-thin">Ukraine</p>
                      <p class="font-bold">Ukraine</p>
                      <p class="font-thin">20k tweets</p>
                    </div>
                    <div>...</div>
                  </div>
                  <div class="flex justify-between px-2 py-1 hover:bg-gray-400 cursor-pointer">
                    <div>
                      <p class="font-thin">Russia</p>
                      <p class="font-bold">Russia</p>
                      <p class="font-thin">10k tweets</p>
                    </div>
                    <div>...</div>
                  </div>
                </div>

                <div class="relative h-1/2 bg-gray-100 rounded">
                  <div class="px-2 pt-4 font-bold text-xl">
                    You might like
                  </div>
                  <div class="flex items-center gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer">
                    <img class="w-12 h-12 rounded-full flex-none" src="">
                    <div class="flex-1 overflow-ellipsis">
                      <p>BBC News</p>
                      <p class="font-thin">@bbcworld</p>
                    </div>
                    <button class="py-2 px-4 bg-white rounded-full">
                      Follow
                    </button>
                  </div>
                  <div class="flex items-center gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer">
                    <img class="w-12 h-12 rounded-full flex-none" src="">
                    <div class="flex-1 overflow-ellipsis">
                      <p>Joe Biden</p>
                      <p class="font-thin">@joebiden</p>
                    </div>
                    <button class="py-2 px-4 bg-white rounded-full">
                      Follow
                    </button>
                  </div>
                  <div class="flex items-center gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer">
                    <img class="w-12 h-12 rounded-full flex-none" src="">
                    <div class="flex-1 overflow-ellipsis">
                      <p>Vice President</p>
                      <p class="font-thin">@vp</p>
                    </div>
                    <button class="py-2 px-4 bg-white rounded-full">
                      Follow
                    </button>
                  </div>
                  <a href="" class="absolute bottom-0 self-end px-2 text-blue1">
                    Show more
                  </a>
                </div>
              </div>
            </div>

          </div>

          <script src="/JS/script.js"></script>
          <script src="/JS/validator.js"></script>

        </body>

</html>