<section id="login" class="fixed w-screen h-screen z-10 bg-blue-400">
  <div class="absolute h-full w-full bg-grey-lighter min-h-screen flex flex-col">
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
          <div class="bg-white px-6 py-8 rounded shadow-md text-black w-full">
              <h1 class="mb-8 text-3xl text-center">Login</h1>
              <h3 id="server-error-msg" class="text-xl text-center mb-3"></h3>
              <form id="loggedin" class="form" onsubmit="return false" autocomplete="off">
                  <p class="error-message hidden">Username 2-20 characters</p>
                  <input id="user_name" type="text" class="block border border-grey-light w-full p-3 rounded mb-4"
                      name="user_name" placeholder="Username" data-validate="str" data-min="2" data-max="20"
                      autocomplete="off">
                  <p class="error-message hidden">Password at least 6 characters</p>
                  <input type="password" class="block border border-grey-light w-full p-3 rounded mb-8"
                      name="user_password" id="user_password" placeholder="Password" data-validate="str" data-min="6"
                      autocomplete="off">
                  <button onclick="validate(logUser)" type="submit"
                      class="w-full text-center py-3 rounded bg-blue-400 text-white hover:bg-green-dark focus:outline-none my-1">Login</button>
              </form>
              <div class="text-center text-grey-dark text-sm mt-4">
                  <p class="text-sm"> Don't want to login? </p>
                  <a class="cursor-pointer" href="/">
                      <p class="uppercase text-blue-700 hover:underline">Continue to all tweets page</p>
                  </a>
              </div>
          </div>

      </div>
  </div>
</section>