% include("header")

<!-- <body class="flex"> -->
    <!-- left panel -->
    <!-- <div class="w-1/4">
        <div class="fixed h-screen w-1/5 px-1 lg:px-6 flex flex-col py-6">
            <div class="">
                <div class="">
                    <i class="fa-brands fa-twitter fa-fw text-4xl text-blue-400 pl-5"></i>
                </div>
                <div class="">
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="fas fa-home fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Home</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="fas fa-hashtag fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Explore</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="far fa-bell fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Notifications</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="far fa-envelope fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Messages</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="far fa-bookmark fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Bookmarks</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="fas fa-clipboard-list fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Lists</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="far fa-user fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">Profile</span>
                        </a>
                    </div>
                    <div class="mt-6">
                        <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                            <i class="fas fa-ellipsis-h fa-fw" aria-hidden="true"></i>
                            <span class="ml-2 hidden md:inline">More</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="mt-auto">
                <div
                    class="flex flex-wrap gap-2 px-2 py-3 sm:hover:bg-none  md:hover:bg-gray-100 cursor-pointer rounded-full h-fit mb-4">
                    <img class="w-12 h-12 rounded-full flex-none"
                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">

                    <p id="logged-user" class="font-thin">Welcome<br>
                        <span class="font-bold">@</span>
                    </p>
                </div>


                <button id="login-btn" onclick="showLogInForm()"
                    class="ml-2 py-2 text-lg text-white bg-blue-400 rounded-full w-20 md:w-32 absolute z-50">
                    LogIn
                </button>
                <a href="/logout">
                    <button id="logout-btn" onclick="hideLogOutBtn()"
                        class="ml-2 py-2 text-lg text-white bg-blue-400 rounded-full w-20 md:w-32">
                        LogOut
                    </button>
                </a>
            </div>
        </div>
    </div> -->
    <!-- left panel end -->

    <div class="w-2/4 min-h-screen border-x border-gray-300 absolute top-0 sm:left-96 md:left-1/4 left-1/3 z-20">
        <section id="profile-page" class="border-t border-slate-200 w-[90%]">
             <div class="w-full h-64 bg-gray-400">
                <div class=""> <img class="absolute top-48 p-4 flex-none h-40 w-40 rounded-full"
                        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
                        alt="photo"></div>
            </div>
            <div class="flex justify-end mt-2 px-4">
                <!-- TODO: update picture -->
                <form>
                    <label>
                        <button class=" text-lg text-gray-600 font-medium bg-gray-300 hover:bg-gray-400 hover:text-white rounded-full w-32 p-1">Set
                            profile pic</button>
                    </label>
                </form>
            </div>
            <div id="user-info" class="mt-6 px-4 py-2">
                <h4>Name</h4>
                <h5>screen name</h5>
                <div class="flex"> <i class="fas fa-calendar mt-1"></i>
                    <p class="pl-4">joined at</p>
                </div>
            </div>
            <div id="links" class ="flex justify-between font-bold p-2 border-b-2 border-gray-200">
                <p class="cursor-pointer border-b-4 hover:border-blue-500 px-2">Tweets</p>
                <p class="cursor-pointer hover:border-b-4 border-blue-500 px-2">Tweets&replies</p>
                <p class="cursor-pointer hover:border-b-4 border-blue-500 px-2">Media</p>
                <p class="cursor-pointer hover:border-b-4 border-blue-500 px-2">Likes</p>

            </div>
            <p class = "font-extrabold text-2xl ml-2">Tweets</p>
    </div>

<!-- tweets -->


    </section>
    </div>

<!-- </body> -->