<div class="h-1/2 flex-grow bg-gray-200 rounded overflow-hidden">
	<div id="trends">
		%for trend in trends:
		<div class="flex justify-between px-2 py-1 hover:bg-gray-300 cursor-pointer">
			<div class="mt-4">
				<p class="font-thin">{{trend["category"]}}</p>
				<p class="font-bold">{{trend["title"]}}</p>
				<p class="font-thin">{{trend["tweets_counter"]}}tweets</p>
			</div>
			<div>...</div>
		</div>
		%end
	</div>
	<div id="admin" class="mt-6 p-4 text-blue-500 text-xl hidden">
		<i class="fas fa-tools text-3xl"></i>
		<p>
			Welcome Admin, <br />
			you are allowed to delete any user's tweet.
		</p>
	</div>
</div>
